/* Default settings */
:root {
	--green: #adff2f;
	--sidebar-width: 230px;
	--progress: 25%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

figure > img {
	display: block;
}


a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}


/*UTILITIES*/
.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}
.flex-start {
    justify-content: flex-start;
}

.grow-1 {
	flex-grow: 1;
}

.justify-between {
	justify-content: space-between;
}

.justify-center {
	justify-content: center;
}

.items-center {
	align-items: center;
}   

.items-align {
    align-items: baseline;
}

.row {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	
}

.col-12 {
	flex-basis: calc((100% / 12) * 12);
}

.col-10 {
	flex-basis: calc((100% / 12) * 10);
}

.col-8 {
	flex-basis: calc((100% / 12) * 8);
}
.col-6{
	flex-basis: calc((100% / 12) * 6);
}

.col-4 {
	flex-basis: calc((100% / 12) * 4);
}

.col-2 {
	flex-basis: calc((100% / 12) * 2);
	
}

.row > [class^='col'] {
	padding: 0 9px;
	
}
/* hover effect*/
 a:hover {
    color: white;
 }

 .track-photo:hover .track-photo__cover {
    opacity: 0.3;  
 }

 .track-photo:hover .middle {
    opacity: 1;  
 }


/* APP */
#app {
	height: 100vh;
	color: gray;

}

#app,
.app__content,
.app__toolbar,
.app__sidebar,
.app__main-content {
	overflow: hidden;
}
#app {
    position: relative;
}

.app__toolbar {
	background-color: #282828;
	min-height: 90px;
}

.app__main-content {
	background-color: #141922;
  
}

.app__sidebar {
	min-width: 50px;
	background-color: black;	
}

/* APP TOOLBAR */
.track-player {
	width: 50%;
}

.album-preview,
.track-controls {
	flex-basis: var(--sidebar-width);
}

.album-preview {
	padding: 0 10px;
	gap: 20px;
}

.album,
.album-controls {
	gap: 10px;
}

.album-controls {
	flex-wrap: wrap;
}

.album__cover {
	width: 28px;
	aspect-ratio: 1;
}

.track-player .controls {
	gap: 20px;
	font-size: 22px;
}

.controls .control-icon.control--play {
	font-size: 30px;
	margin: 0 10px;
}

.progress-bar {
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 999px;
	position: relative;
}

.progress {
	height: 6px;
	border-radius: 999px;
	width: var(--progress);
	background-color: rgb(179, 179, 179);
}

.track-timeline {
	gap: 14px;
}

.progress-handler {
	width: 16px;
	height: 16px;
	background-color: white;
	border-radius: 999px;
	position: absolute;
	left: var(--progress);
	top: 50%;
	transform: translate(-50%, -50%);
	display: none;
}

.progress-bar:hover .progress-handler {
	display: block;
}

.progress-bar:hover .progress {
	background-color: var(--green);
}

.track-controls {
	gap: 16px;
	padding: 0px 10px;
	font-size: 18px;
}

/*MENU SIDEBAR*/
.sidebar__menu {
    padding: 15px;
    line-height: 1.5em;
}

.logo-xl {
    font-size: 10px;
    padding-right: 60px;
    padding-top: 10px;
    display: none;
}

.logo-xs {
   width: 20px;
   margin:0 auto;
}

.sidebar__text {
    color: gray;
    display: none;
    font-size: 14px;
    
}

.sidebar__text .text-great  {
   display: none;
   color: gray;
}

.sidebar__menu-icon {
    margin-top: 20px;
    margin-bottom:12px;
    line-height: 2em;
    


}

.icon-white {
    color: white;
}

.title-white {
    color: white;
}

i {
    color: #A3A3A3;
    font-size: 23px;
    margin-right: 10px;
}

.sidebar__title {
    font-size: 15px;
    /* margin-top: 25px; */
    margin-bottom: 5px; 
    display: inline-block;
}

.playlist {
    display: none;
}

/*SIDEBAR*/
.sidebar__icon-app {
    margin-bottom: 10px;
    padding: 15px;
    margin-top: 430px;
}

.artist-name {
    color: white;
    font-size: 15px;
    align-items: center;
    margin-left:8px;
    display: none;

}

.icon-artist {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.install {
    gap:8px;
}
.icon-download {
   width: 25px;
}

.line-gray {
    background-color: #282828;
    height: 2px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    display: none; 
}

/* UPGRADE*/
.upgrade {
    width: 100%;
    min-height: 80px;
    background-color: #080B12;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.button {
    color: white;
    width: 220px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 15px 15px;
    font-size: 14px;
    text-align: center;
}
.button:hover {
    color: white;
    width: 230px;
    height: 60px;
    border: 2px solid white;
    border-radius: 50px;
    padding: 15px 15px;
    font-size: 16px;
    text-align: center;

}

/*CONTENT*/

 .container-nav {
    justify-content: center;
    margin-top: 10px; 
} 
.container-album {
    overflow:auto;

}
.nav-menu__option {
    gap: 15px;
    font-size: 12px;   
} 

.nav-menu__option {
	position: relative;
    /* align-self: stretch; */
    flex-wrap: wrap;
}
.nav-menu__option.menu__item.active::after {
	content: '';
	position: absolute;
	display: block;
	height: 100%;
	width: 4px; 
	background-scolor:var(--green);
	top: 0;
	left: 0;
}

.title-recently-style {
    margin-top: 0 25px;
    
    padding: 20px;
}
.track-photo {
    width: 180px;
    justify-content: center;
    position: relative;
}

.title-for-user {
    text-align: left;
}

.title-type {
    text-align: center;
    margin-bottom: 8px;
    font-size: 14px;
}

.subtitle__type {
    text-align: center;
    font-size: 12px;
}

.subtitle__user {
    text-align: left;
    padding-left: 20px;
    font-size: 12px;
    margin-bottom: 15px;
}
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left:55%;
    transform: translate(-50%, -50%);
    /* -ms-transform: translate(-50%, -50%); */
    text-align: center;
    font-size: 20px;
    color: white;
}
.play-icon {
    color: white;
    height: 20px;
}
/* media query*/

@media (min-width: 576px) {
 
    .sidebar {
        width: 50px;  
    }
    /* .logo-xs {
        min-width: 40px;
    } */
   
}

@media (min-width: 768px) {
    .app__sidebar {
		min-width: var(--sidebar-width);
	}

	.album__cover {
		width: 42px;
	}

	.track-timeline {
		gap: 24px;
	}
    .sidebar__text {
        display: inline-block;
        line-height: 2.5em;
    }
    .playlist {
        display: inline-block;
    }
    .logo-xl {
        display: block;
    }
    .logo-xs {
        display: none;
    }
    .artist-name {
        display: inline-block;
    }
    .sidebar__icon-app {
        margin-top: 50px;
    }
    .line-gray {
        display: block;
    }

   
}

@media (min-width: 992px) {
   

}
    
	
@media (min-width: 1200px) {  
   

}

    


@media (min-width: 1400px) {
    

  
}
/* DEBUG */
.debug #app {
	/* background-color:green; */
}

.debug .app__content > * {
	border: 2px solid black;
	/* padding: 20px; */
}